/* dashboard-organisation */
/* https://github.com/internet4000/dashboard-organisation  */

@import './reset.css';

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: serif;
	font-size: 17px;
	line-height: 1.4;
}
h1, h2, h3, h4 {
	font-weight: bold;
}
h1 {
	font-size: 2.3rem;
}
h2 {
	font-size: 1.3rem;
}
p {
	margin-bottom: 1rem;
}
a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:focus {
    background-color: darkgray;
}
strong {
	font-weight: bold;
}

input {
	margin-bottom: 1rem;
}

input[type="search"] {
  padding: 0.5rem;
	width: 100%;
	max-width: 30rem;
}

/* Shortcuts */
kbd {
	font-family: monospace;
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	margin-bottom: 0.4rem;
	border: 1px solid black;
	box-shadow: 1px 2px 3px black;
}

/*
	App main elements
 */

.App {
	display: flex;
	padding-top: 1rem;
}
.Aside {
	margin-right: 1rem;
}
.SiteFooter {
	position: fixed;
	bottom:0;
	right: 0;
	padding: 1rem;
}

/*
	Vertical and horiwontal flow
 */

.Section {
	padding-bottom: 2rem;
	flex-grow: 1;
}

.Container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	max-width: 60rem;
}
.Container--full {
	width: 100%;
}


/*
	Navigation
*/

.Nav a {
	padding: 0.4rem;
}
.Nav a:visited {
	color: blue;
}
.Nav a.active {
	background-color: lightgray;
}
.Nav--main {
	display: flex;
	flex-direction: column;
	min-width: 5rem;
}


/*
	List
*/

.List--issues,
.List--pullRequests {
	border-left: 0.4rem solid transparent;
	padding-left: 0.4rem;
	margin-left: 0.4rem;
}
.List--pullRequests {
	border-left-color: green;
}
.List--issues {
	border-left-color: lightgray;
}


/*
	Repositories
*/

.Repo {
	margin-bottom: 1rem;
}
.Repo-nav {
	display: flex;
	align-items: center;
}
.Repo-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.PullRequests {
	margin-bottom: 0.3rem;
}
.EventsGroup {
	padding-bottom: 1rem;
}


/*
	Events
*/

.Events {
	padding-left: 1rem;
}
.Event {
	margin-bottom: 1rem;
}
.Commits {
	padding-left: 1rem;
}
.Commit {
	margin-bottom: 0;
}
