/* dashboard-organisation */
/* https://github.com/internet4000/dashboard-organisation  */

@import './reset.css';

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: serif;
	font-size: 17px;
	line-height: 1.4;
}
h1, h2, h3, h4, p {
	font-weight: bold;
}
h1 {
	font-size: 2.3rem;
}
h2 {
	font-size: 1.3rem;
}
a {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: purple;
}
a:focus {
    background-color: darkgray;
}
strong {
	font-weight: bold;
}

.Section {
	padding-bottom: 2rem;
	flex-grow: 1;
}

.Container {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.App {
	display: flex;
	padding-top: 1rem;
}
.Aside {
	margin-right: 1rem;
}
.Nav a {
	padding: 0.4rem;
}
.Nav a:visited {
	color: blue;
}
.Nav a.active {
	background-color: lightgray;
}
.Nav--main {
	display: flex;
	flex-direction: column;
	min-width: 5rem;
}
.Repo {
	margin-bottom: 1rem;
}
.Repo-nav {
	display: flex;
	align-items: center;
}
.Repo-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.PullRequests {
	margin-bottom: 0.3rem;
}
.EventsGroup {
	padding-bottom: 1rem;
}
.Events {
	padding-left: 1rem;
}
.Event {
	margin-bottom: 1rem;
}
.Commits {
	padding-left: 1rem;
}
.Commit {
	margin-bottom: 0;
}

/* Shortcuts */
.Shortcut-key {
	display: inline-block;
	padding: 0.1rem;
	min-width: 3rem;
}

.List--issues,
.List--pullRequests {
	border-left: 0.4rem solid transparent;
	padding-left: 0.4rem;
	margin-left: 0.4rem;
}
.List--pullRequests {
	border-left-color: green;
}
